html, div, button, input, select, textarea {
    cursor:url(./assets/img/pointer.png), auto !important;
}

body {
    background-color: #B8BEDD;
    background-image: url(./assets/img/unicorn_bg.png);
    background-size: cover;
}