.llm-text-container {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EFC3E6;
    border-radius: 15px;
    padding-right: 15px;
    gap: 5px;
}

.llm-text-input {
    padding: 1rem;
    width: 350px;
    height: 90px;
    background-color: #EFC3E6;
    border-width: 0px; 
    border-radius: 15px;
}

.llm-text-submit {
    cursor: pointer;
}