.llm-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFC3E6;
    border-radius: 15px;
    padding: 15px;
}

.llm-question {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.llm-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.llm-text-input {
    padding: 1rem;
    width: 350px;
    height: 90px;
    background-color: #EFC3E6;
    border-width: 0px; 
    border-radius: 15px;
}

.llm-text-submit {
    background-color: transparent;
    border-width: 0px;
}

.llm-text-send-icon {
    margin-left: 7px;
}