.rating-grid-container {
    background-color: #9C89B8;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    border: 8px;
    border-style: ridge;
    border-color: #767676;
}

.effort-axis {
    font-family: 'American Typewriter', serif;
    writing-mode: vertical-lr;
    margin-left: -2px;
    margin-top: 40px;
    font-weight: 700;
}

.intention-axis {
    font-family: 'American Typewriter', serif;
    font-weight: 700;
}

.rating-button-group {
    margin-bottom: 7px;
}

.rating-button {
    width: 75px;
    height: 75px;
    border-radius: 7px;
    background-color: #F0E6EF;
    border-width: 0px;
    transition: all .2s ease-in-out;
    font-family: 'American Typewriter', serif;
    font-weight: 600;
    font-size: 25px;
    border-width: 5px;
}

.rating-button-correct {
    border-width: 5px;
    border-color: green;
}

.rating-button:hover {
    transform: scale(1.1);
}

.rating-button:not(:last-child) {
    margin-right: 7px;
}

.selected {
    transform: scale(1.1);
    /*border-color: black;
    border-width: 3px;*/
    background-color: #F0A6CA;
    border-radius: 25px;
}

.selected-correct-static {
    transform: scale(1.1);
    background-color: #1b4a1e;
    border-radius: 25px;
    color: white;
}

.selected-incorrect-static {
    transform: scale(1.1);
    background-color: #9e202e;
    border-radius: 25px;
    color: white;
}

.correct-static {
    background-color: #408544;
}
