.testButton {
    z-index: 99;
    position: relative;
    background-color: red;
}

.overlay {
    user-select: none;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.dialogFullscreen {
    user-select: none;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.dialogue {
    padding: 1rem;
    margin: auto;
    background-color: #9C89B8;
    width: fit-content;
    margin-top: 5px;
    border-radius: 15px;
    font-family: 'American Typewriter', serif;
    font-size: 18px;
}

.topcanvas {
    width: 100%;
    margin: 0;
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
}

.rating-grid {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.llm-text {
    position: absolute;
    bottom: 25px;
    right: 25px;
}